{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Frameworks by wizze.ai</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'main/css/base.css' %}">

	<link rel="stylesheet" href="{% static 'main/css/Header.css' %}">

	{% block style %}{% endblock %}
	<link rel="shortcut icon" href="{% static 'main/favicon.ico' %}">
	
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/favicon/favicon-16x16.png' %}">
	<link rel="mask-icon" href="{% static 'main/favicon/safari-pinned-tab.svg' %}" color="#1784a3">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="shortcut icon" href="{% static 'main/favicon.ico'  %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap&_v=20240710133249" rel="stylesheet">
	<div class="loader"></div>
</head>
<style>
			 img.ho {
			-webkit-transition: all 1s ease;
			transition: all 1s ease;
		}
		 img.ho:hover {
			-webkit-transform: rotate(90deg); /* Градусы поворота можно изменить по необходимости */
			transform: rotate(90deg); /* Градусы поворота можно изменить по необходимости */
		}
		img.ho_ {
			-webkit-transition: all 1s ease;
			border-radius:50%;
			transition: all 1s ease;
			margin-right:10px;
		}

		img.ho_:hover {
			animation: rotateAnimation 1s forwards; /* Применяем анимацию при наведении на картинку */
		}

		@keyframes rotateAnimation {
			0% {
				transform: rotate(0deg); /* Начальное положение - без поворота */
			}
			25% {
				transform: rotate(15deg); /* Поворот на 30 градусов вправо через 25% времени */
			}
			75% {
				transform: rotate(-15deg); /* Поворот на 60 градусов влево через 75% времени */
			}
			100% {
				transform: rotate(0deg); /* Возвращение на исходную позицию в конце анимации */
			}
		}
		.plus-btn:hover{
			background-color:#000 ;
			color: #ffff;
		}
</style>
<div class="wrapper">
	<header class="header ">
		<div data-lp class="header__wrapper">
			<div class="header__container">
				<a href="{% url 'home' %}" class="header__logo logo">
					<img width="182" height="40" fetchpriority="high" loading="eager" decoding="async" src="{% static 'main/img/logo/logo.svg' %}" alt="logo Frameworks">
				</a>
				<div class="header__menu menu">
					<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item"><a href="#use_cases" class="menu__link">Use Cases</a></li>
							<li class="menu__item"><a href="#features" class="menu__link">Features</a></li>
							<li class="menu__item"><a href="#faq" class="menu__link">FAQ</a></li>
						</ul>
						<a href="#" class="menu__mobile-logo logo-powered-by">
							Powered by <img width="97" height="27" loading="lazy" decoding="async" src="{% static 'main/img/logo/wizze-ai.svg' %}" alt="Wizze.ai">
						</a>
					</nav>
				</div>
				<div class="header__actions header-actions">
				{% if request.user.is_authenticated %}
			 
				 {% if user.profile.photo %}
				 <div class="right-section">
					<a href="{% url 'dashboard' %}">
					  <img src="{% static 'main/img/public/home.JPG' %}" alt="Home" width="37"  class="ho_" />
					</a>
					{% if user.profile.photo %}
					<img src="{{ user.profile.photo.url }}" alt="Profile Picture" style="width:33px;height:33px;border-radius: 50%; margin-right: 5px;   object-fit: cover;">
						{% else %}
						<img src="{% static 'main/img/public/profile.JPG' %}" alt="Profile" class="profile-pic" />
				   {% endif %}
					<span class="mobileno">	{{ request.user.first_name|default:request.user.username }}</span>
					<a href="{% url 'edit' %}">
					  <img src="{% static 'main/img/public/settings.JPG' %} " alt="Settings" class="icon ho" />
					</a>
				  </div>
				 {% else %}
				 <div class="right-section">
					<a href="{% url 'dashboard' %}">
					  <img src="{% static 'main/img/public/home.JPG' %}" alt="Home" width="37" class="icon ho_" />
					</a>
					{% if user.profile.photo %}
					<img src="{{ user.profile.photo.url }}" alt="Profile Picture" style="width:33px;height:33px;border-radius: 50%;    object-fit: cover;">
						{% else %}
						<img src="{% static 'main/img/public/profile.JPG' %}" alt="Profile" class="profile-pic" />
				   {% endif %}
					<span class="mobileno">	{{ request.user.first_name|default:request.user.username }}</span>
					<a href="{% url 'edit' %}">
					  <img src="{% static 'main/img/public/settings.JPG' %} " alt="Settings" class="icon ho" />
					</a>
				  </div>
					 
				 {% endif %}
				 {% else %}
					<a href="{% url 'dashboard' %}" class="header-actions__btn btn-grays">Log in</a>
					<a href="{% url 'register' %}" class="header-actions__btn btn-gray">Get Started</a>
				{% endif %}
				
					<button aria-label="Menu burger" type="button" class="icon-menu"><span></span></button>
				</div>
			</div>
		</div>
	</header>
<body>
    <div id="content">
			<div class="wrapper">
				<main class="page">

            		<section class="page__features features" style="padding-top: 30px;">
                		<div class="features__container" style="position: relative;z-index: 1;opacity: .8;">
                        	<div class="features__body" style=" max-width: 920px;margin: auto;">
								   {% if messages %}
										<ul class="messages">
											{% for message in messages %}
											<li class="{{ message.tags }}">
												{{ message|safe }}
												<a href="#" class="close"></a>
											</li>
											{% endfor %}
										</ul>
										{% endif %}
        					{% block content %} {% endblock %}
							<div class="panel" style="position: static;">
								<span class="user">
									   {% if request.user.is_authenticated %}
										   
											   {% if request.path == '/account/' %}
											<div class="dropdown" >
												<button onclick="myFunction()" class="dropbtn ex">Story +</button>
												<div id="myDropdown" class="dropdown-content">
													<ul>
													{% for video in video_links|dictsortreversed:"uploaded_at"|slice:":5" %}					
														<li><a href="{{ video.link }}">{{ video.filename }}</a></li>
													{% empty %}
												</ul>
												<span style="color:#fff;">You don't have any processed videos</span>
													{% endfor %}
													<hr>
													<span style="padding:0px;"><a href="{% url 'story' %}">View full history</a></span>
												</div>
											</div>
									   {% else %}
										   <a href="{% url 'dashboard' %}"> <button class="dropbtn2 ex">Dashboard</button></a>
									   <!--<a href="{% url 'dashboard' %}"><img src="{% static 'main/img/hom3.png' %}" width="35" class="img_home"></a>-->
										   {% endif %}						
											<form  class="ex" action="{% url 'logout' %}" method="post" style="display: inline;">
												{% csrf_token %}
												<input type="submit" value="Logout" >
											</form>
										   {% else %}
								{% endif %}
								</span>
								</div>
							</div>
							
                    	</div>
						
            		</section>
					
            	</main>
			</div>
	</div>

	<footer class="footer">
		<div class="footer__container">
			<div class="footer__top top-footer">
				<a href="#" class="top-footer__logo logo">
					<img width="182" height="40" loading="lazy" decoding="async" src="{% static 'main/img/logo/logo.svg' %}" alt="logo Frameworks">
				</a>
				<nav class="top-footer__menu">
					<ul class="top-footer__menu-list">
						<li class="top-footer__item">
							<a href="#use_cases" class="top-footer__link">Use Cases</a>
						</li>
						<li class="top-footer__item">
							<a href="#features" class="top-footer__link">Features</a>
						</li>
						<li class="top-footer__item">
							<a href="#faq" class="top-footer__link">FAQ</a>
						</li>
						<li class="top-footer__item top-footer__item--login">
								{% if request.user.is_authenticated %}
				 {% else %}
					<a href="{% url 'login' %}" class="header-actions__btn">Log in</a>
				{% endif %}
						</li>
					</ul>
				</nav>
					{% if request.user.is_authenticated %}
						{% else %}
				<a href="{% url 'dashboard' %}" class="top-footer__btn btn-gray">Get Started</a>
				{% endif %}
			</div>
			<div class="footer__bottom bottom-footer">
				<div class="bottom-footer__text text-small">
					Our website uses cookies necessary for the functioning of our website, cookies that optimize the performance. To learn more about our cookies, how we use them and their benefits, please read our Cookie Policy.
				</div>
				<div class="cont faq__section-point section-point" style="min-width: 156px;"><a href="mailto:b@gravitypro.me" style="display: flex;align-items: center;justify-content: space-between;"><span style="padding-right: .5rem;">Write to us </span><img width="25" height="25"  src="{% static 'main/img/icons/message.png' %}" alt="Write to us"></a></div>
				<a href="#" class="bottom-footer__logo-poweredby logo-powered-by">
					Powered by <img width="97" height="27" loading="lazy" decoding="async" src="{% static 'main/img/logo/wizze-ai.svg' %}" alt="Wizze.ai">
				</a>
			</div>
		</div>
	</footer>
</body>

	</div>
	{% block script %}
<script async src="{% static 'main/js/homepage.js' %}"></script>
<script async src="{% static 'main/js/base.js' %}"></script>
<script>
	const expirationTime = {{ expiration_time|default:0 }};
    const currentTime = {{ current_time|default:0 }};
    let remainingTime = Math.max(0, expirationTime - currentTime);
    const countdownElement = document.getElementById('countdown');
    
    if (countdownElement) {
        function updateCountdown() {
            const days = Math.floor(remainingTime / (24 * 60 * 60));
            const hours = Math.floor((remainingTime % (24 * 60 * 60)) / (60 * 60));
            const minutes = Math.floor((remainingTime % (60 * 60)) / 60);
            const seconds = Math.floor(remainingTime % 60);

            countdownElement.innerText = 
                String(days).padStart(2, '0') + ' day ' + 
                String(hours).padStart(2, '0') + ':' + 
                String(minutes).padStart(2, '0') + ':' + 
                String(seconds).padStart(2, '0');

            remainingTime--;


            if (remainingTime < 0) {
                clearInterval(timer);
                countdownElement.innerText = "00 day 00:00:00"; 
            }
        }

        const timer = setInterval(updateCountdown, 1000);
    } else {
        console.warn("Countdown element not found. Timer will not start."); 
    }

</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
</html>