{% extends 'base.html' %}{% load static %}
   {% block style %}
<style>
    .center{
        display: block;
        text-align: center;
        color:#b5b5b5;
        margin-top:2rem;
    }
    label{
    color:#b5b5b5;
        display: block;
    text-align: center;
    padding-top:.5rem;
    padding-bottom:.5rem}
     input{
    display: block;
    margin: auto;
        padding: .5rem;
    border-radius: 10px;}
        .link{
    color:#00e5ff;
    }
    .link:hover{color:#2f8089}
form ul{
text-align: center;
    color: #e65a5a;
    padding: 1rem;
    }
    form span{
        display: none;
    }
</style>

<link rel="stylesheet" href="{% static 'main/css/homepage.min.css' %}">{% endblock %}

{% block content %}
<div class="features__sub-title sub-title">Password changed<br>
    Your password has been successfully changed    <br>
</div>


{% endblock %}
