{% extends 'base.html' %}{% load static %}
   {% block style %}
<style>
    .center{
        display: block;
        text-align: center;
        color:#b5b5b5;
        margin-top:2rem;
    }
    label{
    color:#b5b5b5;
        display: block;
    text-align: center;
    padding-top:.5rem;
    padding-bottom:.5rem}
    input{
        padding: .5rem;
    border-radius: 10px;}
</style>

<link rel="stylesheet" href="{% static 'main/css/homepage.min.css' %}">{% endblock %}

{% block content %}
<div class="features__sub-title sub-title">Reset your password</div>
<p><font color="white">We've emailed you instruction for setting your password.</font></p>
<p><font color="white">If you don't receive an email, please make suer you've entered the address you registered with</font></p>

{% endblock %}
